<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>XMLServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.XMLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProcessFlowStatus</servlet-name>
        <servlet-class>org.cmdbuild.servlet.AddProcessFlowStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompiledFormServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.CompiledFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCardServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.ModifyCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessHelpServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.ProcessHelpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.SendMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElementHistoryServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.ElementHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElementDetail</servlet-name>
        <servlet-class>org.cmdbuild.servlet.ElementDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.CardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCardLayoutServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.AddCardLayoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartWorkflowServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.StartWorkflowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GridHeaderServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.GridHeaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReferenceServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.ReferenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvanceWorkflowServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.AdvanceWorkflowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonBarServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.ButtonBarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkflowWidgetServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.WorkflowWidgetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAttachmentServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.DisplayAttachmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadAttachmentServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.DownloadAttachmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkCardServlet</servlet-name>
        <servlet-class>org.cmdbuild.servlet.LinkCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CardServlet</servlet-name>
        <url-pattern>/CardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XMLServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCardLayoutServlet</servlet-name>
        <url-pattern>/AddCardLayoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartWorkflowServlet</servlet-name>
        <url-pattern>/StartWorkflowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GridHeaderServlet</servlet-name>
        <url-pattern>/GridHeaderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReferenceServlet</servlet-name>
        <url-pattern>/ReferenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProcessFlowStatus</servlet-name>
        <url-pattern>/AddProcessFlowStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompiledFormServlet</servlet-name>
        <url-pattern>/CompiledFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCardServlet</servlet-name>
        <url-pattern>/ModifyCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessHelpServlet</servlet-name>
        <url-pattern>/ProcessHelpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/SendMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElementHistoryServlet</servlet-name>
        <url-pattern>/ElementHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElementDetail</servlet-name>
        <url-pattern>/ElementDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvanceWorkflowServlet</servlet-name>
        <url-pattern>/AdvanceWorkflowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonBarServlet</servlet-name>
        <url-pattern>/ButtonBarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkflowWidgetServlet</servlet-name>
        <url-pattern>/WorkflowWidgetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAttachmentServlet</servlet-name>
        <url-pattern>/DisplayAttachmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAttachmentServlet</servlet-name>
        <url-pattern>/DownloadAttachmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkCardServlet</servlet-name>
        <url-pattern>/LinkCardServlet</url-pattern>
    </servlet-mapping>
</web-app>
